* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #000;
	color: #fff;
	font-size: 1em;
}

h1 {
	width: 100%;
	text-align: center;
	background: #333;
	border-bottom: 2px #666 solid;
}

h2 {
	margin: 20px 0px 10px 0px;
	padding-left: 10px;
	border-bottom: 1px #666 solid;
}

p.api {
	width: 100%;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px #444 dotted;
	padding: 0.4em 0px 0.4em 1em;
}

p.api:nth-child(even) {
	background: #222;
}

p.api:hover {
	color: #eee;
	text-decoration: underline;
	cursor: pointer;
	background: #444;
}

p.api:active {
	color: #eee;
	background: #484;
}

#netatmo {
}

#room, #outside {
	padding: 5px;
	background: #000;
	border-bottom: 1px #555 dotted;
}

#room span.title, #outside span.title {
	font-weight: bold;
	margin-right: 1em;
}

#room span.key, #outside span.key {
	font-weight: bold;
	margin-right: 0.3em;
}

#room span.value, #outside span.value {
	margin-right: 1em;
}

#notification {
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

#notification p {
	width: 100%;
	padding: 0.4em;
}

#notification p:before {
	font-weight: bold;
	padding-right: 10px;
}

#notification p.success {
	background: #052;
	border-bottom: 1px #3a7 dotted;
	color: #cfc;
}

#notification p.success:before {
	content: '[SUCCESS]';
}

#notification p.info {
	background: #035;
	border-bottom: 1px #37a dotted;
	color: #ccf;
}

#notification p.info:before {
	content: '[INFO]';
}

#notification p.error {
	background: #510;
	border-bottom: 1px #a73 dotted;
	color: #f88;
}

#notification p.error:before {
	content: '[ERROR]';
}
