<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TSUBAKUMI CONTROLLER</title>
</head>
<body>
	<% words.forEach(function(word) { %>
	<a href="/<%= word %>"><%= word %></a><br />
	<% }); %>
</body>
</html>
