<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TSUBAKUMI CONTROLLER</title>
</head>
<body>
	<% apis.forEach(function(api) { %>
	<a href="<%= api.url %>"><%= api.name %></a>
	<% } %>
</body>
</html>
